### MSVS
#####################
### Cache
.vs

### Build output
Debug

### User based files
*.filters
*.user
#####################

### CodeLite
#####################
.codelite

src/clite/Makefile
*.mk
*.txt
#####################

### VS Code
#####################
ipch
#####################

### Qt Creator
#####################
build
#####################

### Latex
#####################
*.pdf
*.gz
#####################
