### MSVS
#####################
### Cache
.vs

### Build output
Debug

### User based files
*.filters
*.user
#####################

### CodeLite
#####################
.codelite

src/clite/Makefile

src/clite/Simulation/Simulation.mk

src/clite/Simulation/Simulation.txt
#####################
